<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline search-box">
              <div class="form-group mx-sm-4">
                <label for="username" class="sr-only">UserName</label>
                <input text="password" class="form-control"  placeholder="user321">
                    <div class="input-group-addon">
                        <span class="icon fa-search search-button"></span>
                    </div>
              </div>
                
            </form>
            <div class="card-group user-card-group card-wrapper">
                <div class="card" *ngFor="let user of users" (click)="displayUser(user)">
                    <img class="card-img-top" src="http://placehold.it/100x200" alt="{{user.firstName}}">
                    <div class="card-block">
                        <h4 class="card-title text-center">{{user.username}}</h4>
                        <p class="card-text text-center"> role: {{user.role}}</p>
                        <p class="card-text text-center"><small class="text-muted">{{user.created | date}}</small></p>
                    </div>
                </div>
            </div>
        </div>
        <template ngbModalContainer>
        </template>
        <admin-user-modal [userSubject]="userSubject">
        </admin-user-modal>


    </div>
</div>