<div class="row">
  <p>Hey dawg I heard you wanted to change your password<p>
  <form (ngSubmit)="submit()">
    <div class="form-group">
      <label for="passwordOld">Enter your password</label>
      <input type="password" class="form-control" id="passwordOld" name="passwordOld" required>
    </div>
    <div class="form-group"
      [class.has-success]="password0Valid && passwordNew0"
      [class.has-warning]="!password0Valid && passwordNew0">
      <label for="passwordNew0">Enter your new password</label>
      <input
        (keyup)="onKey($event)"
        [class.form-control-success]="password0Valid"
        [class.form-control-warning]="password0Valid"
        type="password"
        class="form-control"
        id="passwordNew0"
        name="passwordNew0"
        [(ngModel)]="passwordNew0"
        required>
    </div>
    <div class="form-group"
      [class.has-success]="password1Valid && passwordNew1"
      [class.has-warning]="!password1Valid && passwordNew1">
      <input
        (keyup)="onKey($event)"
        [class.form-control-success]="password1Valid"
        [class.form-control-warning]="!password1Valid"
        type="password"
        class="form-control"
        id="passwordNew1"
        name="passwordNew1"
        [(ngModel)]="passwordNew1"
        required>
    </div>
    <button type="submit" class="btn btn-primary">Change password</button>
    {{ errorMessage }}
  </form>
</div>
