  <form #userForm="ngForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="passwordOld">Enter your password</label>
      <input type="password" class="form-control" id="passwordOld" 
             required
             [(ngModel)]="passwordOld" name="passwordOld">
      <div *ngIf="formErrors.passwordOld" class="alert alert-danger">
        {{ formErrors.passwordOld }}
      </div>
    </div>
    <div class="form-group"
      [class.has-success]="password0Valid && passwordNew0"
      [class.has-warning]="!password0Valid && passwordNew0">
      <label for="passwordNew0">Enter your new password</label>
      <input type="password" class="form-control" id="passwordNew0"
             required [strongPassword]="strongPasswordRe"
             (keyup)="onKey($event)"
             [class.form-control-success]="password0Valid"
             [class.form-control-warning]="password0Valid"
             [(ngModel)]="passwordNew0" name="passwordNew0">
      <div *ngIf="formErrors.passwordNew0" class="alert alert-danger">
        {{ formErrors.passwordNew0 }}
      </div>
    </div>
    <div class="form-group"
      [class.has-success]="password1Valid && passwordNew1"
      [class.has-warning]="!password1Valid && passwordNew1">
      <input type="password" class="form-control" id="passwordNew1"
             required [strongPassword]="strongPasswordRe"
             (keyup)="onKey($event)"
             [class.form-control-success]="password1Valid"
             [class.form-control-warning]="!password1Valid"
             [(ngModel)]="passwordNew1" name="passwordNew1">
      <div *ngIf="formErrors.passwordNew1" class="alert alert-danger">
        {{ formErrors.passwordNew1 }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary" 
            [disabled]="!userForm.valid || !password0Valid || !password1Valid">Change password</button>
    {{ errorMessage }}
  </form>
