<div class="row">
  <p>Hey dawg I heard you wanted to change your password<p>
  <form>
    <div class="form-group">
      <label for="passwordOld">Enter your password</label>
      <input type="password" class="form-control" id="passwordOld" required>
    </div>
    <div class="form-group">
      <label for="passwordNew0">Enter your new password</label>
      <input type="password" class="form-control" id="passwordNew0" required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="passwordNew1" required>
    </div>
    <button type="submit" class="btn btn-primary">Change password</button>
  </form>
</div>
