<div class="alert alert-danger" *ngIf="!user.verified">
  Your email has not been verified. Click
  <a [routerLink]="['/', 'verifyEmail']">here</a> to do that now
</div>
<div class="row">
  <div class="col-sm-3 col-md-3">
    <p>Hello {{ user.displayName || user.username }}</p>
  </div>
</div>
<div class="row">
  <nav class="col-sm-3 col-md-3">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link btn-core" [routerLink]="[{ outlets: { profile: ['edit'] } }]" routerLinkActive="active">Edit Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-core" [routerLink]="[{ outlets: { profile: ['change-profile-picture'] } }]" routerLinkActive="active">Change Profile Picture</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-core" [routerLink]="[{ outlets: { profile: ['change-password'] } }]" routerLinkActive="active">Change Password</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-core" [routerLink]="[{ outlets: { profile: ['manage-social'] } }]" routerLinkActive="active">Manage Social Accounts</a>
      </li>
    </ul>
  </nav>
  <div class="col-sm-9 sol-md-8">
    <router-outlet name="profile"></router-outlet>
  </div>
</div>
