<div class="container">
    <form (ngSubmit)="signup()">
        <h2>Sign Up</h2>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" required [(ngModel)]="model.userName" name="username">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" required [(ngModel)]="model.email" name="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
