<div class="container">
  <form (ngSubmit)="login()">
    <h2>Sign In</h2>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required
             [(ngModel)]="model.userName" name="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required 
               [(ngModel)]="model.password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">
      Sign In
    </button>
    <button type="button" class="btn btn-secondary"
            routerLink="/signup" routerLinkActive="active">
      Signup
    </button>
    <button type="button" class="btn btn-secondary"
            routerLink="/forgot-password">
      Forgot Pasword
    </button>
  </form>
</div>
