<div class="card">
  <div class="card-block">
    <h4 class="card-title">Email Verification</h4>
    <p class="card-text">
      If you just registered then check your email and follow the link in the
      email to verify your email address. If you didn't recieve an email or it
      has been a long time since you registered click below to have the email
      resent
    </p>
    <button class="btn" type="button" (click)="requestVerificationEmail()">
      Request new link
    </button>
  </div>
</div>
