dist
build
.idea
node_modules
jspm_packages
npm-debug.*
link-checker-results.txt
app/**/*.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
_temp

#generated menus
modules/core/client/config/menus.json

#swap files
*.swp

#tls cert and other private items
config/private/
uploads
.env

#visual studio code
.vscode

coverage
