<nav class="navbar navbar-dark navbar-full bg-primary main-nav">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"><span class="icon fa-social-angular-outline"></span></a>
    <ul class="nav navbar-nav">
        <li *ngFor="let item of menu" class="nav-item" routerLinkActive="active">
            <a *ngIf="!item.dropdown" class="nav-link" [routerLink]="item.state" [innerHTML]="item.template"></a>
            <div *ngIf="item.dropdown" ngbDropdown routerLinkActive="active">
                <button class="btn btn-outline-primary" ngbDropdownToggle [innerHTML]="item.template"></button>
                <div class="dropdown-menu">
                    <span *ngFor="let subitem of item.subitems">
                    <button *ngIf="!subitem.outlet" class="dropdown-item" [innerHTML]="subitem.template" [routerLink]="subitem.state"> </button>
                   
                    <button *ngIf="subitem.outlet" class="dropdown-item" [innerHTML]="subitem.template" (click)="navByUrl(subitem.state)">

                    </button>
                    </span>
                </div>
            </div>
        </li>
    </ul>
    <div class="auth float-xs-right">
        <div *ngIf="!loggedIn">
            <a routerLink="/signin" routerLinkActive="active">Signin</a>
            <a routerLink="/signup" routerLinkActive="active">SignUp</a>
        </div>
        <div *ngIf="loggedIn">
        <div class="navbar-nav">
          <div class="nav-item">
            <div ngbDropdown routerLinkActive="active">
              <button class="btn btn-outline-primary" ngbDropdownToggle>
                <img alt="profile" class="rounded-circle" [src]="user.profileImageURL">
              </button>
              <div class="dropdown-menu">
                <button class="dropdown-item" 
                        [routerLink]="[ '/profile', { outlets: { 'profile': ['edit'] }} ]">
                  Edit
                </button>
                <button class="dropdown-item" 
                        [routerLink]="[ '/profile', { outlets: { 'profile': ['change-profile-picture'] }} ]">
                  Change Picture
                </button>
                <button class="dropdown-item" 
                        [routerLink]="[ '/profile', { outlets: { 'profile': ['change-password'] }} ]">
                  Change Password
                </button>
                <button class="dropdown-item" 
                        [routerLink]="[ '/profile', { outlets: { 'profile': ['manage-social'] }} ]">
                  Manage Social
                </button>
                </div>
            </div>
          </div>
        </div>
            <a routerLink="/signout">SignOut</a>
        </div>
    </div>
</nav>
