<div id="landing-page">
  <div class="page-header">
    <h1>2MEAN</h1>
    <h6>Everything you love about MEAN stack + current libraries:</h6>
    <h5>Mongo 3 - Express 4 - Angular 4 - Node 7</h5>
  </div>
  <div class="landing-body">
    <div class="landing-stack mongodb">
      <div class="stack-img"><img src="https://cdn.sqhk.co/2mean/2017/5/8je3RM8/mongodb.jpg"></div>
      <div class="stack-letter">M</div>
      <div class="stack-text">ongoDB</div>
    </div>
    <div class="landing-stack express">
      <div class="stack-img"><img src="https://cdn.sqhk.co/2mean/2017/5/8jeMOAv/js.png"></div>
      <div class="stack-letter">E</div>
      <div class="stack-text">xpress</div>
    </div>
    <div class="landing-stack angular">
      <div class="stack-img"><img src="https://cdn.sqhk.co/2mean/2017/5/hgECrib/angular4.png"></div>
      <div class="stack-letter">A</div>
      <div class="stack-text">ngular 4</div>
    </div>
    <div class="landing-stack node">
      <div class="stack-img"><img src="https://cdn.sqhk.co/2mean/2017/5/ehhhhgf/node.png"></div>
      <div class="stack-letter">N</div>
      <div class="stack-text">ode</div>
    </div>
  </div>
</div>