<nav class="navbar navbar-dark navbar-full bg-primary main-nav">
    <a class="navbar-brand" href="#"><span class="icon fa-social-angular-outline"></span></a>
    <ul class="nav navbar-nav">
        <li *ngFor="let item of menu" class="nav-item">
            <a *ngIf="!item.dropdown" class="nav-link" routerLink="{{item.state}}" [innerHTML]="item.template"></a>
            <div *ngIf="item.dropdown" ngbDropdown>
                <button class="btn btn-outline-primary" ngbDropdownToggle [innerHTML]="item.template"></button>
                <div class="dropdown-menu">
                    <button *ngFor="let subitem of item.subitems" class="dropdown-item" [innerHTML]="subitem.template" routerLink="{{subitem.state}}"></button>
                </div>
            </div>
        </li>
    </ul>
    <div class="auth float-xs-right">
        <a routerLink="/auth/signin" routerLinkActive="active">Signin</a>
        <a routerLink="/auth/signup" routerLinkActive="active">SignUp</a>
    </div>
</nav>
