<div class="container">
    <h2>Signin Form</h2>
    <form (ngSubmit)="login()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" required [(ngModel)]="model.userName" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" required>
        </div>
        <button type="submit" class="btn btn-submit">Submit</button>
        <a routerLink="/auth/signup" routerLinkActive="active">Signup</a>
    </form>
</div>
