.spinner {
  border: 5px solid #ddd; /* #ddd is light grey */
  border-top: 5px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
