@import "~bootstrap/dist/css/bootstrap.css";
@import "../css/themespiders.css";

/******************  colors ***************************/

@inactive-link-color: rgba(255, 255, 255, 0.75);
@active-link-color: rgba(255, 255, 255, 1);
@blue: rgba(25, 118, 210, 1);
@red: rgba(221, 0, 49, 1);
@green: rgba(92,193,25,1);
@yellow: rgba(210,198,25,1);
@background-midnight: #263238;

/******************  boostrap fixes ******************/

div.alert {
    border-radius: 0px;
    text-align: center;
}

.btn,
.form-control {
    border-radius: 0px;
}

.btn-core {
  padding: 5px 15px;
  margin: 5px 0;
  text-transform: uppercase;
  color: @blue;
  border: 1px solid @blue;
  font-family: "RBNo21a-Bold", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 0px;
  width: auto;
  background-image: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  background-color: transparent;

  .color-class(@active-link-color,@active-link-color,@blue);
}

.btn-core.red {
  .color-class(@active-link-color,@active-link-color,@red);
}

.btn-core.green {
  .color-class(@active-link-color,@active-link-color,@green);
}

.btn-core.yellow {
  .color-class(@active-link-color,@active-link-color,@yellow);
}

p .btn-core {
  margin-left: 0px;
}

.color-class(@color,@hovercolor,@bgcolor) {
  color: @color;
  border-color: @color;
  background-color: @bgcolor;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &:hover {
    color: @hovercolor;
    border-color: @hovercolor;
    background-color: darken(@bgcolor,10%);
  }
}

.btn-lg {
  font-size: 20px;
  line-height: 20px;
  padding: 10px 30px;
}

.fade {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

sup {
  top: -0.25em;
  font-weight: 400;
}

.auth {
    a {
        display: inline-block;
    }
}


/***************** core stuff ***********************/

too-mean {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

too-mean > .container {
    margin-top: 100px;
    margin-bottom: 100px;
    flex-grow: 1;
}

.pg-bottom {
    margin-top: 100px;
}

.btn-right {
    float: right;
}
.search-box
{
    margin-bottom:20px;
}
.input-group-addon
{
    display:inline;
    &:hover
    {
        cursor: pointer;
    }
}

.col-md-12 > h2
{
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  color: #333333;
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.width-auto
{
    width:auto !important;
}

.content-space-between
{
    justify-content: space-between;
}

.flex {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

@media screen and (max-width: 979px) {
    too-mean > .container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


/**************** footer *************************/

footer {
    flex: 0 0 auto;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: @background-midnight;
    text-transform: uppercase;
    color: @inactive-link-color;
    padding: 0 20px;
    position: fixed;
    bottom: 0;
}

footer a {
    color: @active-link-color;
}


/**************** forms ***************************/

form h1,
form h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    color: lighten(black, 20%);
    font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

form select.input-large {
    width:100%;
    border-radius:0px !important;
    line-height:1.25;
}

form .form-info {
    padding:5px 5px;
    display: block;
    font-size:12px;
}

/***************** navigation *********************/

.auth a {
    color: @inactive-link-color;
    text-decoration: none;
    display: inline-block;
}

nav.bg-primary {
    background: @blue !important;
}

.navbar a {
    color: #ffffff;
}

.navbar .navbar-brand,
.navbar .navbar-toggler {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 60px;
}

.navbar-toggler {
    padding: 0;
}

.navbar {
    padding: 5px 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
    flex-flow: row wrap;

}

.navbar-nav {
    flex-grow: 1;
}

.navbar-nav.auth {
    flex-grow: 0;
}

.navbar-nav .nav-item + .nav-item {
    margin: 0 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: @inactive-link-color;
}



.navbar-brand {
    padding: 0;
    margin: 0;
    margin-right: 20px;
    font-size: 1.8em;
    transition: background color 0.3s;

    &:hover {
        background-color: darken(@blue, 5%);
    }
    
    span {
        color: #ffffff;
    }
}

.navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link,
.navbar .nav-item .btn,
.auth a {
    padding: 1rem 0.5rem;
    text-transform: uppercase;
    font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    letter-spacing: 0.16px;
    margin: 0;
    min-width: auto;

    &:hover,
    &:focus,
    &:active {
        background-color: darken(@blue, 5%);
    }
}

.navbar .nav-item .btn {
    color: @inactive-link-color;
    margin-bottom:0px;
    line-height:1.45rem;

    &:hover,
    &:focus,
    &:active {
        border: 0px solid @blue;
    }
}

.navbar-collapse .dropdown-menu {
    background-color: darken(@blue, 10%);
    color: rgba(255, 255, 255, 0.75);;
    padding: 0;
    margin: 0;

    .dropdown-item {
        color: rgba(255, 255, 255, 0.75);
        padding: 4px 16px;

        &:focus,
        &:hover {
            color: rgba(255, 255, 255, 0.75);
            background-color: lighten(@blue,10%);
        }
    }


}

.subnav {
    padding:0px 30px;
    margin-bottom:20px;
    box-shadow: none;
}

@media screen and (min-width: 768px) {
    .navbar .navbar-toggler {
        display: none;
   }

   .navbar-toggleable-md .navbar-collapse {
        width: auto;
        flex-grow: 1;
   }
}

@media screen and (max-width: 767px) {
    .navbar-collapse {
        order: 99;
        flex-basis: 100%;
        flex-grow: 1;
    }

    .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link,
    .navbar .nav-item .btn,
    .auth a {
        padding: 8px 16px;
        font-size: 14px;
    }
}

/***************** cards *********************/
.user-card-group .card {
    padding-top:5px;
    flex: 0 0 200px;
    margin:0px 10px 10px 10px;

    &:hover
    {
        cursor:pointer;
    }
}

.card-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

img.card-img-top {   
    width: auto;
    display: block;
    margin: auto;
}

/***************** notifications *********************/
simple-notifications {
    z-index:10000;
}