<div class="container">
    <form (ngSubmit)="submit()">
        <h2>New Role</h2>
        <div class="form-group">
            <label for="_id">Role Name</label>
            <input type="text" class="form-control" id="_id" required [(ngModel)]="Role._id" name="_id">
        </div>
        <div class="form-group">
            <label for="parent">Parent</label>
            <input type="text" class="form-control" id="parent" required [(ngModel)]="Role.parent" name="parent">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
